<p>add-cv works!</p>
<form [formGroup]="form">
  Name:
  <input type="text" class="form-control" formControlName="name" />
  <div
    *ngIf="form.get('name')?.errors && form.get('name')?.touched"
    class="alert alert-danger"
  >
    Ce champ est obligatoire
  </div>
  Firstname:
  <input type="text" class="form-control" formControlName="firstname" /> Age:
  <input type="text" class="form-control" formControlName="age" /> Cin:
  <input type="text" class="form-control" formControlName="cin" />
  <div
    *ngIf="
      form.errors && form.errors['cinFirstCars'] && cin?.touched && age?.touched
    "
    class="alert alert-danger"
  >
    Cette Cin est invalide
  </div>
  Job: <input type="text" class="form-control" formControlName="job" /> Path:
  <input type="text" class="form-control" formControlName="path" />
  <div *ngIf="age.touched &&form.get('age')?.value < 18" class="alert alert-info">
    You must be 18 or older to upload a path for the image.
  </div>

  <button [disabled]="form.invalid" class="btn btn-primary" (click)="addCv()">
    Add CV
  </button>
</form>
{{ form.errors | json }}
